*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}



ul{
    display: flex;
    flex-direction: row;
    
}

li{
    list-style-type: none;
    padding: 5px;
    
}

.main{
    display: flex;
    flex-direction: row;
    padding-top: 55px;
}

img{
    padding-left: 2px;
    border-radius: 50%;
}

.aboutme{
    padding-left: 12px;
}