*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}

nav{
    padding: 15px;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.main{
    display: flex;
    flex-direction: row;
    padding-top: 55px;
}

img{
    padding-left: 12px;
    border-radius: 50%;
}

.aboutme{
    padding-left: 12px;
}