*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: antiquewhite;
    background-color: rgb(45,45,48);


}

h2{
    font-size: 25px;
}

nav{
    padding: 15px;
}

a{
    text-decoration: none;
    padding: 5px;
}

.main{
    display: flex;
    flex-direction: row;
    padding-top: 55px;
}

img{
    padding-left: 12px;
    border-radius: 50%;
}

.aboutme{
    padding-left: 12px;
}