<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Welcome</title>
</head>
<body>
    <nav>
        <a href="">home</a>
        <a href="">articles</a>
        <a href="">project</a>
    </nav>
    <hr>
    <div class="main">
        <div class="about">
            <h3>Hi. My Name is Yabsera Bogale</h3>
        </div>
        <div class="img">
            <img src="{{url_for('static',filename='image/me.jpg')}}" alt="Yabsera image">
        </div>
    </div>
</body>
</html>