<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/music.css')}}">
</head>
<body>
    <div class="app">
        <div class="main">
            <h3>
                playing
            </h3>
            <figure>
                <audio controls canplay src="{{url_for('static',filename='music/8_Muse-Hysteria.mp3')}}"></audio>
            </figure>
        </div>
        <div class="list">
            <ol>
                
            </ol>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/music.js')}}"></script>
</body>
</html>