<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/music.css')}}">
</head>
<body>
    <div class="app">
        <div class="main">
            <h3>
                playing
            </h3>
            <audio controls src="{{url_for('../../../../Music',filename='01 Algorithm.mp3')}}"></audio></audio>')}}">
            </audio>
        </div>
        <div class="list">
            <ol>

            </ol>
        </div>
    </div>
</body>
</html>