<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Welcome</title>
</head>
<body>
    <nav>
        <a href="{{url_for('home')}}">home</a>
        <a href="{{url_for('project')}}">project</a>
        <a href="{{url_for('contact')}}">contact</a>
    </nav>
    <div class="main">
        
        </div>
    </div>
</body>
</html>