<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='urishortener.css')}}">
    <title>Uri Shortener</title>
</head>
<body>
    <nav>
        <a href="{{url_for('home')}}">home</a>
        <a href="{{url_for('project')}}">project</a>
        <a href="{{url_for('contact')}}">contact</a>
    </nav>
    <div class="main">
        <form action="{{url_for('urishorten')}}" method="post">
            <input type="text" name="uri" id="" placeholder="Uri Shortener">
            <input type="submit" value="enter">
        </form>
        <div class="newuri">
           new link <a href="https://bit.com/{{newuri}}">https://bit.com/{{newuri}}</a>
        </div>
        <div class="olduri">
           old link <a href="{{olduri}}">{{olduri}}</a>
        </div>
    </div>
</body>
</html>