<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Article Viewer</title>
    <link rel="stylesheet" href="{{url_for('static',filename='wikiapp.css')}}">
</head>
<body>
    <div class="main">
        <h2>
            Wiki Article Viewer
        </h2>
        <input type="text" id="article" placeholder="Search Wiki">
        <button>search</button>
    </div>
    <script src="{{url_for('static',filename='wikiapp.js')}}"></script>
</body>
</html>